<h1>Line Items</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <% order.line_items.each do |item| %>
        <td><%= item.product.title %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
