<h1>Listing Category</h1>
  <% @category.each do |single_category| %>
    <td><%= link_to single_category.title, books_admin_category_path(single_category) %></td>
      <% single_category.products.each do |category_product| %>
      <ul>
          <li><h5>Product: <%= category_product.title %></h5></li>
        </ul>
      <% end %>

    <% single_category.subcategories.each do |subcategory| %>
        <ul>
          <li>Subcategory: <%= subcategory.title %></li>
      <% subcategory.products.each do |subcategory_product| %>
      <ul>
          <li><h5>Product: <%= subcategory_product.title %></h5></li>
        </ul>
      <% end %>
        </ul>
      <% end %>
  <% end %>
